.container {
    width: 1024px;
}

.navbar-expand-lg {
    background-color: black !important;
}

h1 {
    color: darkgreen;
}

h3 {
    color: darkgreen;
}

h5 {
    color: darkgreen;
}

#content-img {
    float: left;
    padding: 5px;
}

#summarytxt {
    float: left;
    padding: 5px;
}

#comp-boxes {
    text-align: center;
}

/* Media Queries */
@media (max-width: 990px) {
    .navbar-expand-lg {
        background-color: #182596 !important
    }

    .dropdown-menu {
        background-color: #6a9c6d
    }


}